
 @import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes drawTick {
  from {
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
  }
  to {
    stroke-dasharray: 50;
    stroke-dashoffset: 0;
  }
}

.animate-drawTick {
  stroke-dasharray: 50;
  animation: drawTick 0.6s ease-out forwards;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out;
}
